---
import Chart from "./Chart";

---

<section id="Tokenomics" class="h-screen w-full z-20 relative pt-4">
<img
    src="/tokenomics.jpg"
    alt="tokenimics-background"
    loading="lazy"
    class="absolute -z-10 top-0 left-0 w-full h-auto sm:h-full object-cover brightness-50"
/>
    <h2 class="uppercase font-extrabold text-4xl text-white text-center">
        Tokenomics ( $ DYNX )
    </h2>
    <Chart client:load />
    <h3 class="uppercase font-extrabold text-4xl text-white text-center">
        Total Supply : 550,000,000 DYNX
    </h3>
</section>
